@import "variables";
@import "mixin";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* Estilos globales */
body {
	font-family: $font-family_1;
}

/* Header */
header {
	border-bottom: 1px solid rgb(43, 55, 223);
	height: 5rem;

	.container {
		margin-top: 4rem;
	}

	.logo {
		width: 5rem;
	}

	.fuente {
		font-size: 0.7cm;
		padding-left: 1cm;
		text-transform: uppercase;

		li {
			a {
				&:hover {
					background-color: $background-color_1;
				}
			}
		}
	}

	@keyframes animacion {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	.animar-fade-in {
		animation: animacion 1s ease-in-out;
	}
}

/* Hero */
.textohero {
	color: $color_1;

	.fondo {
		background-image: url("../img/fondo.png");
	}
}

/* Contacto */
.contacto {
	background-color: $background-color_2;
	color: $color_2;
	text-transform: uppercase;
	font-weight: bold;
	padding: 7rem;
	margin-bottom: 1rem;
	height: 1rem;

	h1 {
		font-size: 2rem;
		text-align: center;
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	.desvanecer-imagen {
		animation: fadeIn 2s ease-in-out 1;
	}

	.red {
		padding-left: 0.4cm;
		text-align: center;
	}

	.wpp {
		width: 45px;
		height: 45px;
	}

	.todo {
		text-align: center;
	}

	.box {
		padding-left: 0.4cm;
		font-size: larger;
		margin-top: 0.4cm;
		text-align: center;
	}

	.fondouno {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		height: auto;
	}

}

/* Informacion */
.info {
	text-align: center;
	margin-top: 5rem;

	.qsinfo {
		text-decoration: underline;
	}

	h4 {
		text-decoration: underline;
	}
}

/* TuFunda */
.fundamain {
	text-align: center;

	.subtitulofunda {
		border: 2px solid #ccc;
		border-radius: 10px;
		padding: 20px;
	}

	@keyframes animacion-fade-in {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	.animar-fade-in {
		animation: animacion-fade-in 1s ease-in-out;
	}
}

/* Cadagama */
.qscadagama {
	text-align: center;
	text-decoration: underline;

	.disponibles {
		text-align: center;
		color: $color_3;
	}

	.gamas {
		text-align: center;

		h3 {
			color: $color_4;
			text-decoration: underline;
			font-size: 2rem;
		}

		.parrafocarrousel {
			color: $color_2;
		}
	}
}

@keyframes animacion-fade-in {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.animar-fade-in {
	animation: animacion-fade-in 1s ease-in-out;
}


/* Footer */
footer {
	text-align: center;
	padding: 2rem;
	background-color: $background-color_2;
	color: $color_2;
}